In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
# 本章节学习目标
# 1.UTC时间戳转换为DateTime时间戳，UTC时间戳的含义，以及如何转化为pandas的Datetime格式
# 2.熟练地用resample对数据进行降频处理

In [16]:
file_path = "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-09.zip"
z = pd.read_csv(file_path)
z

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,1725148800000,58941.9,58941.9,58933.4,58933.8,41.719,1725148859999,2.458845e+06,722,15.996,9.427759e+05,0
1,1725148860000,58933.7,58940.4,58928.5,58928.5,17.332,1725148919999,1.021460e+06,516,5.472,3.224829e+05,0
2,1725148920000,58928.5,58945.1,58925.2,58945.1,15.938,1725148979999,9.392825e+05,542,10.222,6.024337e+05,0
3,1725148980000,58945.0,58946.3,58926.7,58930.7,10.627,1725149039999,6.263205e+05,383,3.591,2.116537e+05,0
4,1725149040000,58930.8,58951.4,58930.7,58951.4,10.291,1725149099999,6.065670e+05,442,9.081,5.352536e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43195,1727740500000,63263.2,63314.4,63263.2,63297.1,243.813,1727740559999,1.543213e+07,3598,182.169,1.153038e+07,0
43196,1727740560000,63297.1,63340.0,63287.4,63300.2,192.797,1727740619999,1.220685e+07,3336,119.153,7.543952e+06,0
43197,1727740620000,63300.1,63330.0,63300.0,63319.9,106.919,1727740679999,6.769119e+06,2246,65.326,4.135867e+06,0
43198,1727740680000,63320.0,63340.0,63319.9,63327.1,111.510,1727740739999,7.061790e+06,1491,76.022,4.814334e+06,0
43199,1727740740000,63327.0,63340.0,63309.1,63309.1,118.512,1727740799999,7.505007e+06,1880,62.736,3.973089e+06,0

In [17]:
z['open_time'] = pd.to_datetime(z['open_time'], unit='ms').dt.strftime('%Y-%m-%d %H:%M:%S')
z['close_time'] = pd.to_datetime(z['close_time'], unit='ms').dt.strftime('%Y-%m-%d %H:%M:%S')

In [18]:
z

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,2024-09-01 00:00:00,58941.9,58941.9,58933.4,58933.8,41.719,2024-09-01 00:00:59,2.458845e+06,722,15.996,9.427759e+05,0
1,2024-09-01 00:01:00,58933.7,58940.4,58928.5,58928.5,17.332,2024-09-01 00:01:59,1.021460e+06,516,5.472,3.224829e+05,0
2,2024-09-01 00:02:00,58928.5,58945.1,58925.2,58945.1,15.938,2024-09-01 00:02:59,9.392825e+05,542,10.222,6.024337e+05,0
3,2024-09-01 00:03:00,58945.0,58946.3,58926.7,58930.7,10.627,2024-09-01 00:03:59,6.263205e+05,383,3.591,2.116537e+05,0
4,2024-09-01 00:04:00,58930.8,58951.4,58930.7,58951.4,10.291,2024-09-01 00:04:59,6.065670e+05,442,9.081,5.352536e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43195,2024-09-30 23:55:00,63263.2,63314.4,63263.2,63297.1,243.813,2024-09-30 23:55:59,1.543213e+07,3598,182.169,1.153038e+07,0
43196,2024-09-30 23:56:00,63297.1,63340.0,63287.4,63300.2,192.797,2024-09-30 23:56:59,1.220685e+07,3336,119.153,7.543952e+06,0
43197,2024-09-30 23:57:00,63300.1,63330.0,63300.0,63319.9,106.919,2024-09-30 23:57:59,6.769119e+06,2246,65.326,4.135867e+06,0
43198,2024-09-30 23:58:00,63320.0,63340.0,63319.9,63327.1,111.510,2024-09-30 23:58:59,7.061790e+06,1491,76.022,4.814334e+06,0
43199,2024-09-30 23:59:00,63327.0,63340.0,63309.1,63309.1,118.512,2024-09-30 23:59:59,7.505007e+06,1880,62.736,3.973089e+06,0

In [19]:
z.index = pd.to_datetime(z.open_time)

In [20]:
z

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
open_time,,,,,,,,,,,,
2024-09-01 00:00:00,2024-09-01 00:00:00,58941.9,58941.9,58933.4,58933.8,41.719,2024-09-01 00:00:59,2.458845e+06,722,15.996,9.427759e+05,0
2024-09-01 00:01:00,2024-09-01 00:01:00,58933.7,58940.4,58928.5,58928.5,17.332,2024-09-01 00:01:59,1.021460e+06,516,5.472,3.224829e+05,0
2024-09-01 00:02:00,2024-09-01 00:02:00,58928.5,58945.1,58925.2,58945.1,15.938,2024-09-01 00:02:59,9.392825e+05,542,10.222,6.024337e+05,0
2024-09-01 00:03:00,2024-09-01 00:03:00,58945.0,58946.3,58926.7,58930.7,10.627,2024-09-01 00:03:59,6.263205e+05,383,3.591,2.116537e+05,0
2024-09-01 00:04:00,2024-09-01 00:04:00,58930.8,58951.4,58930.7,58951.4,10.291,2024-09-01 00:04:59,6.065670e+05,442,9.081,5.352536e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30 23:55:00,2024-09-30 23:55:00,63263.2,63314.4,63263.2,63297.1,243.813,2024-09-30 23:55:59,1.543213e+07,3598,182.169,1.153038e+07,0
2024-09-30 23:56:00,2024-09-30 23:56:00,63297.1,63340.0,63287.4,63300.2,192.797,2024-09-30 23:56:59,1.220685e+07,3336,119.153,7.543952e+06,0
2024-09-30 23:57:00,2024-09-30 23:57:00,63300.1,63330.0,63300.0,63319.9,106.919,2024-09-30 23:57:59,6.769119e+06,2246,65.326,4.135867e+06,0
2024-09-30 23:58:00,2024-09-30 23:58:00,63320.0,63340.0,63319.9,63327.1,111.510,2024-09-30 23:58:59,7.061790e+06,1491,76.022,4.814334e+06,0
2024-09-30 23:59:00,2024-09-30 23:59:00,63327.0,63340.0,63309.1,63309.1,118.512,2024-09-30 23:59:59,7.505007e+06,1880,62.736,3.973089e+06,0

In [ ]:
# resample里有closed和label2个参数
z_rspled = z.resample('5min').agg({'open_time':'first', 
                              'open':'first', 
                              'high':'max', 
                              'low':'min', 
                              'close':'last', 
                              'volume':'sum', 
                              'close_time':'last',
                              'quote_volume':'sum', 
                              'count':'sum', 
                              'taker_buy_volume':'sum', 
                              'taker_buy_quote_volume':'sum',
                              'ignore':'last'})

In [22]:
z_rspled

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
open_time,,,,,,,,,,,,
2024-09-01 00:00:00,2024-09-01 00:00:00,58941.9,58951.4,58925.2,58951.4,95.907,2024-09-01 00:04:59,5.652475e+06,2605,44.362,2.614600e+06,0
2024-09-01 00:05:00,2024-09-01 00:05:00,58951.4,59011.6,58943.7,59004.5,202.985,2024-09-01 00:09:59,1.197277e+07,3658,156.794,9.248078e+06,0
2024-09-01 00:10:00,2024-09-01 00:10:00,59004.6,59033.0,58990.1,59008.9,227.436,2024-09-01 00:14:59,1.342181e+07,3236,109.213,6.445017e+06,0
2024-09-01 00:15:00,2024-09-01 00:15:00,59009.0,59052.7,58992.8,58992.8,285.417,2024-09-01 00:19:59,1.684625e+07,3537,189.327,1.117506e+07,0
2024-09-01 00:20:00,2024-09-01 00:20:00,58992.8,58998.1,58960.0,58960.0,156.475,2024-09-01 00:24:59,9.229272e+06,2819,80.061,4.722167e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30 23:35:00,2024-09-30 23:35:00,63150.2,63261.0,63040.0,63055.7,2069.814,2024-09-30 23:39:59,1.306968e+08,21423,764.724,4.829434e+07,0
2024-09-30 23:40:00,2024-09-30 23:40:00,63055.7,63079.8,62825.0,62952.1,5026.293,2024-09-30 23:44:59,3.163696e+08,51652,2073.110,1.305005e+08,0
2024-09-30 23:45:00,2024-09-30 23:45:00,62952.6,63231.3,62948.0,63217.0,3702.670,2024-09-30 23:49:59,2.337753e+08,31527,1870.908,1.181120e+08,0
2024-09-30 23:50:00,2024-09-30 23:50:00,63217.1,63276.1,63126.5,63263.2,1121.058,2024-09-30 23:54:59,7.085199e+07,14492,541.070,3.419912e+07,0
2024-09-30 23:55:00,2024-09-30 23:55:00,63263.2,63340.0,63263.2,63309.1,773.551,2024-09-30 23:59:59,4.897490e+07,12551,505.406,3.199762e+07,0

In [7]:
# 把多个月份的BTC合约拼接到一起
def resample_data(file_path):
    z = pd.read_csv(file_path)  # 读取数据
    z['open_time'] = pd.to_datetime(z['open_time'], unit='ms').dt.strftime('%Y-%m-%d %H:%M:%S')  # 改变时间戳的格式，变成datetime格式
    z['close_time'] = pd.to_datetime(z['close_time'], unit='ms').dt.strftime('%Y-%m-%d %H:%M:%S')
    # 重置index，变成时间戳
    z.index = pd.to_datetime(z.open_time)
    # 降频处理
    z_rspled = z.resample('5min').agg({'open_time':'first', 
                              'open':'first', 
                              'high':'max', 
                              'low':'min', 
                              'close':'last', 
                              'volume':'sum', 
                              'close_time':'last',
                              'quote_volume':'sum', 
                              'count':'sum', 
                              'taker_buy_volume':'sum', 
                              'taker_buy_quote_volume':'sum',
                              'ignore':'last'})
    return z_rspled

In [8]:
file_path_list = ["D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-01.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-02.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-03.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-04.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-05.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-06.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-07.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-08.zip",
                  "D:/workspace/data/crypto/1min/BTCUSDT/BTCUSDT-1m-2024-09.zip",]

In [11]:
df_list = []
for i in file_path_list:
    z = resample_data(i)
    df_list.append(z)

In [13]:
len(df_list)

9

In [15]:
# 把9个dataframe按时间顺序拼接到一起
df = pd.concat(df_list, axis=0)

In [18]:
df

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
open_time,,,,,,,,,,,,
2024-01-01 00:00:00,2024-01-01 00:00:00,42314.0,42437.2,42289.6,42437.1,1724.210,2024-01-01 00:04:59,7.306883e+07,15368,1274.871,5.402969e+07,0
2024-01-01 00:05:00,2024-01-01 00:05:00,42437.2,42474.1,42420.5,42446.8,994.003,2024-01-01 00:09:59,4.219525e+07,9626,545.789,2.316744e+07,0
2024-01-01 00:10:00,2024-01-01 00:10:00,42446.8,42535.0,42445.2,42532.5,899.775,2024-01-01 00:14:59,3.824065e+07,8874,542.755,2.306586e+07,0
2024-01-01 00:15:00,2024-01-01 00:15:00,42532.4,42603.2,42494.1,42494.1,1291.232,2024-01-01 00:19:59,5.493701e+07,13186,663.156,2.821955e+07,0
2024-01-01 00:20:00,2024-01-01 00:20:00,42494.1,42533.1,42484.4,42509.4,418.463,2024-01-01 00:24:59,1.778513e+07,4844,198.735,8.446450e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30 23:35:00,2024-09-30 23:35:00,63150.2,63261.0,63040.0,63055.7,2069.814,2024-09-30 23:39:59,1.306968e+08,21423,764.724,4.829434e+07,0
2024-09-30 23:40:00,2024-09-30 23:40:00,63055.7,63079.8,62825.0,62952.1,5026.293,2024-09-30 23:44:59,3.163696e+08,51652,2073.110,1.305005e+08,0
2024-09-30 23:45:00,2024-09-30 23:45:00,62952.6,63231.3,62948.0,63217.0,3702.670,2024-09-30 23:49:59,2.337753e+08,31527,1870.908,1.181120e+08,0
2024-09-30 23:50:00,2024-09-30 23:50:00,63217.1,63276.1,63126.5,63263.2,1121.058,2024-09-30 23:54:59,7.085199e+07,14492,541.070,3.419912e+07,0
2024-09-30 23:55:00,2024-09-30 23:55:00,63263.2,63340.0,63263.2,63309.1,773.551,2024-09-30 23:59:59,4.897490e+07,12551,505.406,3.199762e+07,0

In [16]:
is_sorted = df.index.is_monotonic_increasing

In [17]:
is_sorted

True